*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#izin{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#dogum{
    margin: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#baslama{
    margin: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#hesapla{
    margin: 2vh;
    padding: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
#sonuc{
    color: red;
}
